// First time using stylus.
// Date: 2016 JAN

// MAIN CONTENTS OF THIS CSS FILE

// STYLUS AUTOMATION
// BASE RULES
// LAYOUT RULES
// MODULE RULES
// STATE RULES
// MOBILE LAYOUT

//----------------------------------
// #STYLUS AUTOMATION
//----------------------------------

// reusable content for arrow icon on hover
repeating-properties()
   content ""
   position absolute
   right 50% - 15%
   margin-top rm(38px)
   //code for arrow shape below
   width 0px
   height 0px
   line-height 0px
   border-left 10px solid transparent
   border-right 10px solid transparent
   border-bottom 10px solid #94bbf4

//Automatic pixels to rem conversion
set-font-size(value) {
    font-size: value; /* add PX (or original value) as backup */

    if (value is inherit) {
        /* do nothing, "inherit" has no unit */
    } else {
        font-size: rm(value);
    }
}

rm() {
    remified = ();

    for arg in arguments {
        push(remified, unit(arg/16, 'rem'));
    }

    return remified;
}
//Use of automatic rem conversion:
// .foo
//     padding rm(8px 16px 32px)

// yelds:
// .foo {
//   padding: 0.5rem 1rem 2rem;
// }

/*----------------------------------
#BASE RULES
------------------------------------*/
header
   background #fff
   // height rm(68px)
   position fixed
   width 100%

a
   text-decoration none
   color #000
   display inline-block

.footer
   display block
   text-align center

/*----------------------------------
#LAYOUT RULES
------------------------------------*/
body
   width 100%

section
   padding rm(50px 0px)

main
   padding-top rm(68px)

figcaption
   margin rm(5px 0px 30px)
   font-size 20px
   text-align center

.wrap
   width 80%
   margin auto

.title
   max-width 100%
   margin rm(0px 0px 40px)

   text-align center
   font-size rm(50px)

//clearfix solution
// .clearfix:after
//    content ""
//    display table

// .clearfix:after
//    clear both

// .clearfix
//    zoom 1 /* For IE 6/7 (trigger hasLayout) */

/*----------------------------------
#MODULE RULES
------------------------------------*/
#featured
   background-color #94bbf4
#news
   background-color #b2f494
#gallery
   background-color #f1f494

.l-media
   display flex
   justify-content space-between
   flex-wrap wrap
   padding 0px 0px
   margin auto
.media-item
   flex 1 1
   flex-basis rm(320px)
   // min-width rm(250px)
   padding rm(0 10px)
.media-heading
   margin rm(16px 0px 0px)
.l-image
   display flex
   justify-content center
   flex-wrap wrap

.media-image
   margin  rm(0 2%)
   img
      max-height 98%
      max-width 98%

.nav-flex
   display flex
   padding-bottom rm(8px)
.nav-logo
   flex-grow 1
   margin rm(10px 43px 0px 0px)
.nav-links
   flex-wrap wrap
   margin-top rm(21px)
   width rm(300px)
   display flex
   justify-content space-between
   a
      font-size rm(22px)

.media-related
   margin-top rm(60px)

/*----------------------------------
#STATE RULES
------------------------------------*/
.a-container
   //position arrow relative to a-container
   position relative
   //show arrow-up on hover
   a:hover:after
      repeating-properties()

.icon-menu
   display none

/*----------------------------------
#MOBILE LAYOUT
------------------------------------*/
@media screen and (max-width: rm(639px))
   header
      background none
   main
      padding-top rm(0px)

   //make wrap wider on small screen
   .wrap
      width 92%
      margin auto

   .nav-flex
      // left 0rem
      top 0rem
      padding-botom 0px

   .nav-logo img
      display none

   .nav-links
      display flex
      position absolute
      left 0
      width 100%
      margin rm(0px 0px 0px)
      .a-container
         display none
         border-top 1px solid #d9
         width 100%
         background-color #ff
         text-align center
      .a-container-show
         display block
      a
         font-size rm(18px)
         padding rm(15px)
      a:hover:after
         content none

   // container class for hamburger icon
   .icon-menu
      display inline
      position relative
      left 0px
      background-color #ff
      width 36px
      height @width

      //css hamburger shape
   .icon-menu:before
      content ""
      position absolute
      top 25%
      left 20%
      width 60%
      height 5px
      border-top (@height * 2) double #000
      border-bottom (@height - 25%) solid #000
   //end of hamburger icon

   // container class for x icon
   .close
      position relative
      width 36px
      height @width
      overflow hidden

   //"x" icon shape
   .close::before, .close::after
      content ''
      position absolute
      border-top 0rem
      border-bottom 0rem
      height rm(2px)
      width 64%
      top 50%
      left 18%
      margin-top rm(-1px)
      background #000
   .close::before
      transform rotate(45deg)
   .close::after
      transform rotate(-45deg)
   .close.thick::before, .close.thick::after
      height rm(3px)
   //end of "x" icon
