/* custom changes to concise.css */
.icons-media, .git-ico a, .tw-ico a, .li-ico a {
  width: 24px;
  height: 24px;
  margin: 20px 10px;
  display: inline-block;
  background-repeat: no-repeat; }

.icons-links, .external-link a, .email-link a {
  display: inline-block;
  padding-left: 26px;
  background-repeat: no-repeat;
  background-size: 20px; }

header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  border-bottom: solid 1px #e5e5e5;
  background-image: url("../img/uipattern.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: #ffe401; }

.fade-in1 {
  animation: 600ms ease 100ms normal forwards 1 fadein;
  -webkit-animation: 1s ease 100ms normal forwards 1 fadein;
  opacity: 0; }

.fade-in2 {
  animation: 600ms ease 200ms normal forwards 1 fadein;
  -webkit-animation: 600ms ease 200ms normal forwards 1 fadein;
  opacity: 0; }

.fade-in3 {
  animation: 600ms ease 300ms normal forwards 1 fadein;
  -webkit-animation: 600ms ease 300ms normal forwards 1 fadein;
  opacity: 0; }

.fade-in4 {
  animation: 600ms ease 400ms normal forwards 1 fadein;
  -webkit-animation: 600ms ease 400ms normal forwards 1 fadein;
  opacity: 0; }

.fade-in5 {
  animation: 600ms ease 500ms normal forwards 1 fadein;
  -webkit-animation: 600ms ease 500ms normal forwards 1 fadein;
  opacity: 0; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media (max-width: 640px) {
  header {
    background-position: 20% 10%; }
  .giga {
    font-size: 2.75em; } }

.button {
  margin-bottom: 10px; }

a {
  display: inline-block;
  margin-top: 16px; }

li {
  max-width: 800px;
  padding: 30px 10px;
  margin: 0 auto 50px;
  list-style: none; }

li img {
  max-width: 100%;
  margin-bottom: 20px; }

ul a {
  margin-right: 10px; }

footer {
  padding-bottom: 20px;
  width: 100%;
  background-color: #f6fafd;
  border-top: solid 1px #e5e5e5; }

footer .git-ico a {
  margin-left: 0px; }

@media (max-width: 460px) {
  footer {
    text-align: center; } }

.title {
  text-align: center; }

.section-description {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px 10px; }

.menu-links > * {
  display: inline-block;
  margin: 0px 18px 0px; }

@media (max-width: 460px) {
  .menu-links > * {
    font-size: 0.8em;
    margin: 0px 8px 0px; } }

.external-link a {
  background-image: url("../img/external.svg"); }

.email-link a {
  margin-right: 20px;
  background-image: url("../img/email.svg"); }

.git-ico a {
  background-image: url("../img/git.svg"); }

.tw-ico a {
  background-image: url("../img/tw.svg"); }

.li-ico a {
  background-image: url("../img/li.svg"); }

.header-container {
  position: relative;
  max-width: 800px; }

.subtitle {
  margin-bottom: 30px; }

#projects {
  margin: 30px;
  text-align: center; }

.button, button {
  background-color: #d83333; }

.button:hover, button:hover {
  color: #fff; }

.mega {
  color: #d83333; }
